# ===============================
# Ambiente Virtual
# ===============================
.venv/
venv/

# ===============================
# Python
# ===============================
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# ===============================
# Banco de Dados
# ===============================
banco/*.db
banco/*.sqlite
banco/*.sqlite3

# ===============================
# Credenciais (NUNCA subir)
# ===============================
banco/credenciais.json
banco/credentials.json
*.json

# ===============================
# Pastas operacionais
# ===============================
entrada/
processados/
erros/

# ===============================
# Logs
# ===============================
*.log

# ===============================
# VS Code
# ===============================
.vscode/

# ===============================
# Sistema
# ===============================
.DS_Store
Thumbs.db
